$color-white: #fff;
$color-black: #000;
$color-grey: #b6bcc9;

$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Josefin Slab', serif;
$font-family-tertiary: 'Rock Salt', cursive;

$spacing-vertical: .6em;
$spacing-horizontal: .6em;

$mq-small: 38em;