.created-by {
	list-style: none;
	padding: 0;
	li {
		font-size: .8em;
		margin: 1em 4em 0 0;
		display: inline-block;
		text-align: center;
	}
	a {
		display: block;
		&:hover {
			.title { color: darken($color-white, 20%); }
		}
	}
}

.creator-img { 
	width: 125px;
	-webkit-filter: grayscale(100%);
	border-radius: 50%;
}

.name,
.title {
	margin: 0; 
}
.name {
	font-size: 1.5em;
}
.title { 
	color: $color-white; 
	@include transition(all, .5s);
}