@include keyframes(wiggle) {
    0% { @include transform(rotate(0deg)); }
    10% { @include transform(rotate(-10deg)); }
    20% { @include transform(rotate(10deg)); }
    30% { @include transform(rotate(-10deg)); }
    40% { @include transform(rotate(10deg)); }
    50% { @include transform(rotate(-10deg)); }
    60% { @include transform(rotate(10deg)); }
    70% { @include transform(rotate(-10deg)); }
    80% { @include transform(rotate(10deg)); }
    90% { @include transform(rotate(-10deg)); }
    100% { @include transform(rotate(0deg)); }
}

@include keyframes(spin) {
    0% { @include transform(rotate(0deg)); }
    100% { @include transform(rotate(360deg)); }
}

.mascot-wrapper {
	display: inline-block;
	position: relative;
}

.mascot {
	background-image: url(../images/mascot-sprite.png);
	background-repeat: no-repeat;
	background-size: 200%;
	display: inline-block;
	height: 7.28125em;
	width: 7.125em;
}

.mascot-yeoman {

	&:hover {

		&:before {
			@include animation(wiggle .6s linear);
		}

	}
}

.mascot-patternlab {
	background-position: -7.125em 0;

	&:hover {
		
		&:before {
			@include animation(spin .7s ease-in-out);
		}

	}
}

.mascot-label {
	display: none;
}

.mascot-header {
	margin-bottom: .2em;
	text-transform: uppercase;

	span {
		color: $color-black;
		position: relative;
		top: -.12em;
	}
}

.mascot-slogan {
	font-size: 0.9375em;
	margin-bottom: 1em;
}

@media screen and (min-width: 30em) {

	.mascot-slogan {
		font-size: 1em;
	}
}

@media screen and (min-width: $mq-small) {

	.mascot {
		background-size: initial;
		height: 14.5625em;
		width: 14.25em;
		&:before {
			content: "";
			display: block;
			position: absolute;
			left: 50%;
		}
	}

	.mascot-yeoman {
		background-image: url(../images/yeoman-nostache.png);
		background-position: 0 0;
		position: relative;

		&:before {
			background: url(../images/stache.png) center center no-repeat;
			height: 2.625em;
			margin-left: -3.76em;
			top: 6.1em;
			width: 8.3125em;
		}
	}

	.mascot-label {
		color: $color-white;
		display: block;
		font-family: $font-family-tertiary;
		font-size: 1.125em;
		margin: 0;
		position: absolute;
	}

	.mascot-patternlab {
		background-image: url(../images/patternlab-nocircle.png);
		background-position: -.15em 1.15em;

		&:before {
			background: url(../images/circle.png) center center no-repeat;
			margin-left: .15em;
			top: 1em;
			height: 14.5625em;
			width: 14.25em;
		}
	}

	.yeoman-label {
		left: -40px;
		@include rotate(-37deg);
		top: -10px;
	}

	.patternlab-label {
		right: -60px;
		@include rotate(37deg);
		top: 15px;	
	}

	.mascot-slogan {
		font-size: 1.125em;
		margin-bottom: 3em;
	}

}