.mascot-wrapper {
	display: inline-block;
	position: relative;
}

.mascot {
	background-image: url(../images/mascot-sprite.png);
	background-repeat: no-repeat;
	background-size: 200%;
	display: inline-block;
	height: 7.28125em;
	width: 7.125em;
}

.mascot-yeoman {
	background-position: 0 0;
}

.mascot-patternlab {
	background-position: -7.125em 0;
}

.mascot-label {
	display: none;
}

.mascot-header {
	font-family: $font-family-secondary;
	font-size: 3em;
	font-weight: 400;
	margin-bottom: .2em;
	text-transform: uppercase;

	span {
		color: $color-black;
		position: relative;
		top: -.12em;
	}
}

.mascot-slogan {
	font-size: 0.9375em;
	margin-bottom: 1em;
}

@media screen and (min-width: 30em) {

	.mascot-header {
		font-size: 4.5em;
	}

	.mascot-slogan {
		font-size: 1em;
	}
}

@media screen and (min-width: $mq-small) {

	.mascot {
		background-size: initial;
		height: 14.5625em;
		width: 14.25em;
	}

	.mascot-label {
		color: $color-white;
		display: block;
		font-family: $font-family-tertiary;
		font-size: 1.125em;
		margin: 0;
		position: absolute;
	}

	.mascot-patternlab {
		background-position: -14.25em 0;
	}

	.yeoman-label {
		left: -40px;
		@include rotate(-37deg);
		top: -10px;
	}

	.patternlab-label {
		right: -60px;
		@include rotate(37deg);
		top: 15px;	
	}

	.mascot-header {
		font-size: 5.7em;
	}

	.mascot-slogan {
		font-size: 1.125em;
		margin-bottom: 3em;
	}

}