.button-install {
	border: 1px solid $color-white;
	@include border-radius(0.25em);
	display: inline-block;
	font-size: 1em;
	padding: 0.625em 1.5em;
	text-decoration: none;
	color: $color-white;
	@include transition(all, .5s);
}

.button-install:hover {
	background-color: $color-white;
	color: $color-grey;
}

.button-more {
	margin: 0 .2em;
}

@media screen and (min-width: $mq-small) {

	.button-install { font-size: 1.25em; }

}