.content {
	margin: 0 auto;
	padding: $spacing-vertical $spacing-horizontal;
	max-width: 52em;
}

.top-wrapper {
	background: $color-grey;
	color: $color-white;
	text-align: center;
}

.bottom-wrapper {
	background-color: $color-black;
	color: $color-white;
	.content { padding-top: 0; }
}

@media screen and (min-width: $mq-small) {

	.content {
		padding: $spacing-vertical-large $spacing-horizontal-large;
	}

}