.content {
	margin: 0 auto;
	max-width: 80em;
}

.top-wrapper {
	color: $color-white;
	padding: 5em 0;
	text-align: center;
}

.bottom-wrapper {
	background-color: $color-black;
	color: $color-white;
	height: 31.25em;
}